@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>

<div class="jumbotron">
    <p class="lead"><img class="img-circle" src="~/Images/chuck.jpg" style="width: 100px;height:100px;"></p>
    <p>
        Hey, I'm Chuck, the creator of Dauber and owner/head coach of <a href="http://chuckgrossfitness.com" target="_blank">Chuck Gross Fitness</a>, where I help clients conquering their overeating, one bite at a time.
    </p>
    <p>
        I'm a dad, a husband, a coach, a programmer, and a former fat kid that has lost and kept off 200lbs for over 8 years!
    </p>
    <p>
        <img src="~/Images/MyTransformation.jpg" class="img-responsive img-thumbnail" alt="200lb weight loss" />
    </p>
    <p>
        As I was growing my business, I was spending so much time checking client's MyFitnessPal diaries and Fitocracy feeds to see if they were adhereing to their plans! My options were ask the clients to manually enter this info, or enter it myself! Being a programer, I knew there had to be a better way. Hence the creation of Dauber. If you caught the reference to the show "Coach", then high five!
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
        </div>
    </div>*@

