@{
    ViewBag.Title = "Coaching Tools";
}

<div class="well">
    <h1>Dauber</h1>
    <h2>Tools for coaches, by coaches</h2>
    <p class="lead">        Dauber is a suite of tools created to make the collection of data easier for both you and your clients!</p>
    <br />
    <h3>Are you frustrated by MyFitnessPal's lack of tools and support for coaches?</h3>
    <p>
        The first Dauber allows you to easily import your client's MyFitnessPal diary into Google Sheets.<br />
        Save yourself and your clients both the time and hassle of entering this manually, and <input type="button" class="btn btn-success btn-sm" value="SIGN UP" onclick="location.href = '@Url.Action("UpdatePlan", "MyAccount")'" /> now!
    </p>
    <p>
        <img src="~/Images/dauberExample.gif" alt="Dauber Example" />
    </p>
</div>
